/*Reseteo de valores*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;

}
/*Configuracion de variables*/
:root{
    --main-color: #f3f3f3;
    --secondary-color: #9296F0;
    --third-color: #000000;
    --fouth-color-t: #babcfa;
    --fifth-color: #8867aa;

}
/*estilos del body*/
body{
    background-color: var(--third-color);
    color: var(--main-color);
}
/*Generalidades*/

h1{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;

}
h2{
    margin-bottom: 20px;

}

button{
    padding: 8px 12px;
    background-color:var(--secondary-color);
    color:var(--third-color);
    border:none;
    border-radius: 4px;
    margin-left: 8px;
    margin-bottom: 30px;
    font-size: medium;
    cursor: pointer;
}

button:hover{
    color: var(--main-color);
}



header,footer{
    background-color: var(--third-color);
    color: var(--main-color);
    padding: 20px;    
}

/*Estilos de header*/

.header{

    position:sticky;
    top:0; 
    z-index: 20;
    padding: 30px; 

    .logo img{
        height: 10vh;
    } 
}


.header nav{
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.header nav ul{
    list-style: none;
    display:flex;
    column-gap: 30px;
}

.header nav ul a{
    font-size:1.3rem;
    color: var(--secondary-color);
    text-decoration: none;
}

.nav-link:hover{color: var(--main-color);}

/*Main- estilos Primer contenedor*/

.sectionTitulos{
    height: 85vh;
    background:linear-gradient(to bottom, #000000a3, #00000073),url("../assets/img/fondo.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.sectionTitulos .contenedorTitulos{
    text-align: center;
    width: 60%;
    margin:0 auto;
    border-radius: 5px;
}
.sectionTitulos .contenedorTitulos a{
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    color:var(--main-color);
    font-size: 2rem;
    border:2px solid var(--main-color);
    border-radius: 5px;
    padding:10px 20px;
}


.sectionTitulos .contenedorTitulos a:hover{
    border-color: var(--secondary-color);
    color: var(--secondary-color);
}

/*Main - Contenedor busqueda*/
.busqueda{
    background-image: linear-gradient(to top, #000000, #9296f0);
    text-align: center;
    padding: 150px;
}

.busqueda_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.busqueda h2{
    font-size: 2rem;
}

.busqueda form {
    width: 50%;
  }

  .busqueda input[type="text"] {
    padding: 8px;
    margin: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 70%;
  }


/*Main - Contenedor Pelicilas*/

.peliculasTendencias{
    width: 80%;
    margin:0 auto;
    text-align: center;
}

.peliculasTendencias .galeriaTendencias{
    display:flex;
    justify-content: space-evenly;
    gap: 50px;
    flex-wrap: wrap;
    margin-bottom: 40px;

}

.peliculasTendencias h2{
    margin-top:50px;
    margin-bottom:30px;
}

.peliculasTendencias img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    
    /*animacion*/
    flex-grow: 1;
    opacity: 0.9;
    transition: opacity 0.5s ease, transform 0.3s ease;
    transform-origin: center;
}

.peliculasTendencias img:hover{
    transform: scale(1.07);
        opacity: 1;
    }

.peliculasTendencias .galeriaTendencias div{
    width: 250px;
    height: 350px;
    box-shadow: 10px 10px 47px -6px rgba(255, 255, 255, 0.135);
    border-radius: 5px;
    margin-top: 20px;
}

/*Lista de peliculas*/

.contenedorPeliculasLista{
    width: 100%;
    margin:0 auto;
    margin-top: 50px;
    text-align: center;
}

.peliculasSection{
    display:flex;
    justify-content: space-evenly;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 40px;


    }
    .pelicula {
        width: 250px;
        height: 350px;
        display: inline-flex;
        margin: 45px;
        box-shadow: 10px 10px 47px -6px rgba(255, 255, 255, 0.135);
        border-radius: 5px;
        margin-top: 20px;

    }
    
    .imgTendencia {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
        transition: transform 0.3s ease, opacity 0.5s ease;
        opacity: 0.9;
    }
    
    .pelicula:hover .imgTendencia {
        transform: scale(1.07);
        opacity: 1;
    }
    
    .administrador:hover{text-decoration: underline;}
   

/*Pagina Inicio Sesion*/
/*Pagina Registrarse*/
.sectionRegistrar{
    background-image: linear-gradient(to top, #000000, #9296f0);
    padding: 30px;

    h1, h2{text-align: center;}

    h3{padding: 3px;}

    div{
        padding: 3px;
    }

    .fieldset{
        display: grid;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    input{
        padding: 7px;
        border: 1px solid #ccc;
        border-radius: 1rem;
        width: 100%;
    }

    .nombre-apellido{
        display: flex;
        justify-content: space-between;
        grid-gap: 20px;

    }

    .check{
        position: relative;
        width: 20px;
        height: 20px;
        appearance: none;
        border: 1px solid var(--secondary-color);
        cursor: pointer;
        margin-right: 8px;
    }
    
    .check:checked::before {
        content: '';
        position: absolute;
        top: 1px;
        left: 5px;
        width: 7px;
        height: 10px;
        border: solid var(--secondary-color);
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
    
    .textoCheck{font-size:small;}

    .terminos{
        display: flex;
        align-items: center;
        padding-bottom: 10px;
        padding-left: 10px;
    }

    .div_ayuda{
        display: flex;
        justify-content: space-between;
        grid-gap: 100px;
        padding: 20px;
    }

}

.ayuda{ 
    color: var(--secondary-color);

}

.ayuda:hover{
    color: var(--main-color);
}

.error-message{
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.error-message_ajustado{
    color: red;
    font-size: 9px;   
}

.button_acomodar{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Pagina detalle*/

.contenedorDetalle{
    display: flex;
    height: 500px;
    background-image: linear-gradient(to top, #000000fb, #4e4f6158), url(../assets/img/dune-parte-dos-2024-3275678.jpg);
    background-size: cover;
    background-position: center top ;

}
    .contenedorDetalle .contenedorCreditos{
        margin-top: 20px;
        margin-bottom: 20px;
        
    }

    .contenedorDetalle h2{
        margin-top: 20px;
    }

    .contenedorDetalle .textoDetalle{
        margin: 20px;
    }
    
    .contenedorDetalle .imgDetalle{
        height: 100%;
        padding: 25px;     
    }
    
    .contenedorDetalle img{
        height: 100%;
    }

.trailer{
    margin: 10px;
    padding: 20px;   
}

.trailer .contenedorInfo{
    position: absolute;
    display: inline-block;
    margin-top: 20px;

}
.redes {
    display: flex;
    align-items: center;
    justify-content: center;
}


.redes a{
    padding: 20px;
}

.trailer .contenedorTrailer{
    display:inline-block;
    padding: 20px;
    margin-right: 50px;
}
.trailer a{
    color: var(--third-color-t);
        }

.trailer a:hover{
    color: var(--main-color);
        }

.trailer table{
    border-collapse: separate;
    border-spacing: 10px;
}

/*Pagina peliculas*/

.peliculas_api h1{
    text-align: center;
}

.pelicula {
    width: 250px;
    height: 350px;
    display: inline-flex;
    margin: 45px;
    box-shadow: 10px 10px 47px -6px rgba(255, 255, 255, 0.135);
    border-radius: 5px;
    margin-top: 20px;

}

.pelicula:hover .imgTendencia {
    transform: scale(1.07);
    opacity: 1;
}

.imgApi{
    width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
        transition: transform 0.3s ease, opacity 0.5s ease;
        opacity: 0.9;
}

.pelicula:hover .imgApi {
    transform: scale(1.07);
    opacity: 1;
}


/*Pagina administrador*/

.contenedor{
    background-image: linear-gradient(to top, #000000, #9296f0);
}

.contenedor_div{
    position: relative;
    display: grid;
    padding: 40px;
}


.form_adm {
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    display:grid;
    grid-gap: 30px;
    padding-top: 20px;
}

.form_grid {
    display: inline;
    color:var(--third-color);
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid;
    margin-bottom: 10px;
    transition: all 0.3s;
    cursor: pointer;
    background-color: var(--main-color);
}

.form_grid p {
    margin: 0;
    text-align: left;
}

.form_detalle{
    color: var(--fouth-color-t);    
}


input[type=text], input[type=time], input[type=month], input[type=number], select[name=Country]{
    padding-left: 10px;
}

input[type=file]::file-selector-button {
    background: var(--secondary-color);
    color: var(--third-color);
    height: 100%;
    border: none;

}

.full_width {
    grid-column: 1/4;
}


.tabla_pelicula{
    margin-top: 20px;
    text-align: center;
    padding-top: 20px;
    width: 100%; 

    tbody th,tbody td{
        border-top: 1px solid var(--secondary-color);
        padding: 10px;
    }
}

.button{
    padding: 5px ;
    background-color:var(--secondary-color);
    color:var(--third-color);
    border:none;
    border-radius: 4px;
    font-size: medium;
    cursor: pointer;



}

.button:hover{
    color: var(--main-color);
}




/*Estilos del footer*/

.footer{
    display: flex;
    place-items: center; /*centra la flecha*/
    color:var(--secondary-color);
    height: 110px;
    text-align: center; /*centraria cada contenedor verticalmente*/
    background-color: var(--secondary-color);
    
}

.footer a{
    color: var(--third-color);
    text-decoration: none;
    margin-right: 10px;
}

.footer a:hover{
    color: white;
}

.footer div{
    margin-left: auto;
}
 
   /*segunda prueba desde 0 a 768 px y ser una pantalla. Nueva sintaxis */
   @media screen and (width<= 768px){

    h1{
        font-size: 1.7rem;
    }
    h2{
        font-size:1.3rem;
    }

    .header{

        text-align: center;
      }

    .header nav{
        flex-direction: column;
        row-gap: 10px;
        justify-content: center;
        align-items: center;
    }
    
    .header .logo img{
        width: 40%; /*modifique aca*/
        height: auto;
        margin-bottom: 5px;
    }

    .header nav a{
        justify-content: center;
        align-items: center;

    }

    .header nav ul{
        justify-content:space-around;
        align-items: center;
        
        a{
            font-size: 1.3rem;
        }
    }
    
    .sectionTitulos{
        height: 75vh;
        .contenedorTitulos{
            a{
                font-size: 1.3rem;
                margin-top: 10px;
            }
        }
    }

    .busqueda{
        height: 80vh;
        width: 100%;        
    }

    .busqueda form{
        width: 90%;
    }

    .footer div{
        display: inline-flex; 
        justify-content:center;
        font-size: 0.9rem;
        border-spacing: 5px;

    }

    .detalle{
        display: block; /*blocl*/
    }
    
    .contenedorDetalle {
        display: inline-block; /*inline*/
        height: 400px;
    }
    
    .contenedorDetalle .imgDetalle img {
        height: 90%;
        margin: 0 auto;
        display: block;
    }
    
    .textoDetalle{
        padding-top: 0px;
    }
    
    
    .contenedorDetalle .textoDetalle h1 {
        text-align: center;
    }

    .trailer {
        height: 100vh;
        margin-top: 0px;
        }


    .trailer .contenedorTrailer{
        display: flex;
        margin: 0 auto;
        padding: 5px;


    }
    
    .trailer .contenedorTrailer iframe {
        height: auto;
    }
    
    .trailer .contenedorInfo {
        flex-direction: column;
        position: static;
        display: flex;
        align-items: center;
        justify-items: center;

    }
    
    .trailer .contenedorInfo .redes {
 
        padding-bottom: 3vh;
    }
    
    .peliculas-recomendadas .contenedor-carrousel{
        overflow: visible;

    }
  
    .peliculas-recomendadas .contenedor-carrousel .carrousel{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
    }

    .peliculas-recomendadas .indicadores,
    .peliculas-recomendadas .flecha-derecha,
    .peliculas-recomendadas .flecha-izquierda{
        display: none;
    }
}

.error{
    color: red;
    
}

@media screen and (max-width: 480px) {
    .header .logo img {
        width: 50%; /* Ajuste adicional para pantallas más pequeñas */
    }

    .busqueda {
        padding: 50px;
        padding-top: 100px; /* Ajuste de padding para pantallas muy pequeñas */
   
    }

    .busqueda h2 {
        font-size: 1.2rem; /* Ajuste adicional de fuente para pantallas muy pequeñas */
    }

    .busqueda form {
        width: 100%; /* Mayor reducción del ancho del formulario */
    }


}